/* global.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121214;
  color: white;
}

.dashboard {
  padding: 2rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon.piggy {
  color: #00ff88;
  font-size: 2rem;
  
}

.add-button {
  background-color: #00ff88;
  color: #121214;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.summary {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  flex: 1;
  background: #1e1e20;
  padding: 1rem;
  border-radius: 8px;
}

.entrada h2 {
  color: #00ff88;
}

.saida h2 {
  color: #ff4d4f;
}

.balanco h2 {
  color: #00ff88;
}

.content {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.analise,
.categorias {
  flex: 1;
}

.analise-box {
  background: #0f0f0f;
  height: 200px;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.categorias ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.categorias li {
  display: flex;
  justify-content: space-between;
  background: #1e1e20;
  padding: 0.75rem;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.categorias .selecionada {
  background-color: #ff4d4f;
}

.categorias span {
  margin-left: auto;
  margin-right: 0.5rem;
}

.transacoes {
  margin-top: 2rem;
}

.transacoes table {
  width: 100%;
  border-collapse: collapse;
}

.transacoes th, .transacoes td {
  text-align: left;
  padding: 1rem;
  background: #1e1e20;
  color: white;
}

.transacoes tr + tr {
  margin-top: 1rem;
}

.transacoes td.valor {
  color: #ff4d4f;
}

.transacoes svg {
  margin-right: 0.5rem;
}
